.header-banner-booking {
  width: 100%;
  background-color: var(--color-primary);
  background-image: url(../../images/bg_mt2.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;
}
