.form-title {
  margin-bottom: 2rem;
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0px;

  .form-img {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1rem 0 0 1rem;
      gap: 0px;
      padding: 0px;
    }
  }

  .form-content {
    width: 100%;
    background-color: #e6f2ef;
    padding: 2rem 4rem;
    border-radius: 0 1rem 1rem 0;

    div {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
    }

    label {
      margin: 0.6rem 0;
    }

    input {
      height: 44px;
      padding: 1rem;
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    select {
      height: 48px;
      padding: 1rem;
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }

    button {
      width: 60%;
      display: block;
      margin: 2rem auto;
    }
  }
}

@media (max-width: 767px) {
  /*** Mobile styles here ***/

  .form-wrapper {
    width: 100%;
    grid-template-columns: 1fr;

    .form-img {
      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
      }
    }

    .form-content {
      width: 100%;
      background-color: #e6f2ef;
      padding: 1rem;
      border-radius: 0 0 1rem 1rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet styles here */

  .form-wrapper {
    width: 100%;
    grid-template-columns: 1fr;

    .form-img {
      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
      }
    }

    .form-content {
      width: 100%;
      background-color: #e6f2ef;
      padding: 2rem;
      border-radius: 0 0 1rem 1rem;
    }
  }
}

@media (min-width: 1024px) {
  /* Desktop styles here */
}
